* {
	box-sizing: border-box;
}



body {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #132b3d;
	font-family: Verdana;
	color: #f4d03f;
	
}


.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 24px;
	gap: 24px;
	height: 30vh;
}

.topo {
	position: absolute;
	top: 50px;
	left: 50px;
}

ul {
	padding-left: 20px;

}
li {
	margin-bottom: 10px;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	
}

p {
	font-size: 18px;
	font-weight: 700;
	
}

button, .button {
	border: 0;
	border-radius: 10px;
	padding: 14px 28px;
	background: #f4d03f;
	color: #132b3d;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	width: 200px;
	cursor: pointer;
	
}

button:hover , .button:hover {
	background: #e0b12c;
	color: white;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}

.movimentacoes{
	display: flex;
	justify-content: space-between;
	padding: 16px;
	width: 95vw;
}

.instrucoes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: start;
	padding: 24px;
	gap: 24px;
	height: auto;
}

/* DEFINIÇÃO DAS TORRES E DOS DISCOS */
.tabuleiro {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 95vw;
	height: 60vh;
}

.torre-decoracao {
	position: relative;
	width: 180px;
	height: 300px;
}

.torre {
    position: relative;
    width: 180px;
    height: 300px;
}

.torre.selecionada {
	outline: 3px solid #f4d03f;
	border-radius: 6px;
	outline-offset: 6px;
}

.haste {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 10px;
    height: 220px;

    background-color: #a88132;
    border-radius: 5px;
}

.base {
    position: absolute;
    bottom: 0;

    width: 180px;
    height: 20px;

    background-color: #a88132;
    border-radius: 6px;
}

.disco {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	border-radius: 6px;
	z-index: 1;
}
