* {
	box-sizing: border-box;
}



body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #132b3d;
	font-family: Verdana;
}


.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 24px;
}

.topo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}



h1 {
	color: #f4d03f;
	font-size: 48px;
	font-weight: 700;
	
}

p {
	color: #f4d03f;
	font-size: 18px;
	font-weight: 700;
	
}

button, .button {
	border: 0;
	border-radius: 10px;
	padding: 14px 28px;
	background: #f4d03f;
	color: #132b3d;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	
}

button:hover , .button:hover {
	background: #e0b12c;
	color: white;
}

.movimentacoes{
	display: flex;
	justify-content: space-between;
	padding: 100px;
	width: 100%;
}

/* DEFINIÇÃO DAS TORRES E DOS DISCOS */
.tabuleiro {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 90vw;
	height: 70vh;
}

.torre {
    position: relative;
    width: 180px;
    height: 300px;
}

.haste {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 10px;
    height: 220px;

    background-color: #a88132;
    border-radius: 5px;
}

.base {
    position: absolute;
    bottom: 0;

    width: 180px;
    height: 20px;

    background-color: #a88132;
    border-radius: 6px;
}

.disco {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	border-radius: 6px;
	z-index: 1;
}
